<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="WildcardTokenizedString" value=",-w-," />
      <setting name="WildcardProvider.RoutesPath" value="/sitecore/system/modules/wildcards/routes" />
    </settings>
	<wildcardManager defaultProvider="wildcardResolver">
      <providers>
        <add name="wildcardResolver" type="Helpfulcore.Wildcards.WildcardRouteResolver, Helpfulcore.Wildcards" />
      </providers>
    </wildcardManager>
	<wildcardItemResolver defaultProvider="contentSearch">
      <providers>
        <add name="contentSearch" type="Helpfulcore.Wildcards.ItemResolving.ContentSearchWildcardItemResolver, Helpfulcore.Wildcards" />
      </providers>
    </wildcardItemResolver>
    <urlGenerationTokenValueExtractor defaultProvider="itemReader">
      <providers>
        <add name="itemReader" type="Helpfulcore.Wildcards.UrlGeneration.TokenValueExtraction.ItemReaderTokenValueExtractor, Helpfulcore.Wildcards" />
      </providers>
    </urlGenerationTokenValueExtractor>
    <pipelines>
      <mvc.getPageItem>
        <processor type="Helpfulcore.Wildcards.Pipelines.Response.GetPageItem.GetFromWildcard, Helpfulcore.Wildcards"
                   patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.GetPageItem.GetFromOldContext, Sitecore.Mvc']" />
      </mvc.getPageItem>
    </pipelines>
    <linkManager defaultProvider="sitecore">
      <providers>
        <add name="sitecore">
          <patch:attribute name="type">Helpfulcore.Wildcards.UrlGeneration.WildcardLinkProvider, Helpfulcore.Wildcards</patch:attribute>
        </add>
      </providers>
    </linkManager>
    <events>
      <event name="publish:end">
        <handler type="Helpfulcore.Wildcards.Events.PublishEnd.WildcardsCachePurgeProcessor, Helpfulcore.Wildcards" method="ClearCache" />
      </event>
      <event name="publish:end:remote">
        <handler type="Helpfulcore.Wildcards.Events.PublishEnd.WildcardsCachePurgeProcessor, Helpfulcore.Wildcards" method="ClearCache" />
      </event>
    </events>
  </sitecore>
</configuration>